
body{
	background: skyblue;
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
}
.Card{
	background: gainsboro;
	width:85vw;
	padding:1em;
	margin:0 auto;
	margin-bottom: 5vh;
	border-radius: 0.25vw;
}
pre{
	background:black;
	color:white;
	padding:0.25em;
}
img{
	margin:0 auto;
	display:block;
	max-width: 80vw;
}
h1{
	background:black;
	color:white;
	border-radius: 0.25em;
	display: inline-block;
	padding:0.25em;
}